| File                       | sha256sum                                                        |
| -------------------------- | ---------------------------------------------------------------- |
| webmin-current.rpm         | 2e4a7c4d83338880314dd9d677ff94ae5587f9ca0acbf795f8c823ab41737f5f |
| webmin-current.deb         | 0f45f29efe60046f15a0965e832bf814cdd6e0217b9d2c8624ef4135a6aaf2c6 |
| webmin-current.pkg         | 4609a43e3c6bfba78a141b1a13d2756d9a21204f179f2d75681ecb33f83c7628 |
| webmin-current.tar         | 354ef3ceb47823f115f93bb0c27d6814837a892c6ff0d30277f782e03b82cfa5 |
| webmin-current-minimal.tar | d3389b8319da86b63e2cc9071de1fabe1e4cfd2b7d0dd393d199649ec53ecc66 |