| File | SHA256 Checksum |
| ---- | --------------- |
| webmin_2.520_all.deb | 1db7a0df09b1eb8533e2eceafc155b61f14dac26c3bf0ec0e55d1b594d8c55bc |
| webmin-2.520-minimal.tar.gz | c11d7fd3c43373e6f7d92b72485709ff31c5e6c56049787d6717f27b1e89ba9f |
| webmin-2.520-1.noarch.rpm | 95247ee4ea9bf26f422f88aa0ff16448636efb06a85961ad3837b42dde893bb2 |
| webmin-2.520-1.src.rpm | a197897fd0a1e4382504cda001058a104c4c048bce2331be0990f489bcc9cec5 |
| webmin-2.520.pkg.gz | a9d1664378b14b62b8b2a31db7ecc7c9f28d61a0eed6d9bca0699c53002efaf3 |
| webmin-2.520.tar.gz | f73bfff803c8eaf566044fcdcfe5edb150bdeda721ec9daaaafd17a23919f529 |
| webmin-2.520.zip | 3a91a7eb3c0e55aa023d67c7158f9bc4c79388eeb6cb7c3a17d7c2accb0df5b2 |
