| File | SHA256 Checksum |
| ---- | --------------- |
| webmin_2.620_all.deb | 733441c888e8014f4754ee56c6fa56e458059da5e335a3002b025eb6cf53a2dc |
| webmin-2.620-minimal.tar.gz | f504a32a538e7653d620e677a5a31737f4438b9609ad86c3a4e4113df8092d66 |
| webmin-2.620-1.noarch.rpm | cfd50b86d069aad1a0bb2e50b6c94d4b4fca8215899547ee80114713f2a178c0 |
| webmin-2.620-1.src.rpm | 9d4d80ded30da1ec91f6f5c1e65c63ba4d55dce282a94cb2bf2e8275a272cc79 |
| webmin-2.620.pkg.gz | 2f069934a8ac9f991dd4d9754dc429c4ca60bca713744fed06033b138a72b408 |
| webmin-2.620.tar.gz | 334c83ae5d10d84274f03b847d86c25598de534e8d0cf3d3f6a43d5267f6045a |
| webmin-2.620.zip | 30bfdb9d6d8681a6f309ed59d2ed10b58a2ad7207958dbe8212fedaeab1be32a |
