| File | SHA256 Checksum |
| ---- | --------------- |
| webmin_2.652_all.deb | 88426a5c480863d004ddc724183770d529c47994e866ff20e6260a8d205b97fa |
| webmin-2.652-minimal.tar.gz | 80a39a4226ab81a15dc2957e1dc07efff6280daa685c2353cb2ecca9d7dfc08b |
| webmin-2.652-1.noarch.rpm | ab2a60fda421a951eebb201212ba9bb8a3e0dda71f838b03da4964b52ad79031 |
| webmin-2.652-1.src.rpm | f32d625a556e3b921b08e60f3ce4e4fe3a3f1bf21180edbcee1b2e80bb1bdc57 |
| webmin-2.652.pkg.gz | 72b18bf6b32386140e4d1f1fa26514daea6659246cce8feab9c400f1f4988fa0 |
| webmin-2.652.tar.gz | 2a2c5ef45a9cbfc481d6c26fbf22047c264b5d351305918c88923010903f21d5 |
| webmin-2.652.zip | 475083d718efb4410c26123c40c16d0b09f7857b589acf193629432a1dab3cb8 |
