| File                       | sha256sum                                                        |
| -------------------------- | ---------------------------------------------------------------- |
| webmin-current.rpm         | 3c69f5c6f6f39cdc761bb3adeeeec8c9de2b33b81dae9912031465a5008121ec |
| webmin-current.deb         | 8e33988bb7db78fde09067097c8ddff856bf1171e8bdfb9a460536857d360366 |
| webmin-current.pkg         | 10340e2de2ec9b98edee3c40b2406b2ac5efb9c9b1ed6342fd182d020881f49d |
| webmin-current.tar         | 799b6d7516e4895c8ae03463abcdd2431abc86f6cd88de603ebd573d84fc6bb6 |
| webmin-current-minimal.tar | f7a7f89c67b607b3a0afd099da36f916e933c3fe89ae5908b9841b977545a9c4 |