| File | SHA256 Checksum |
| ---- | --------------- |
| webmin_2.670_all.deb | 9fdacf6b219a186ec5d7dbbbe0f46e9802cbd7050d91605bd0dfc48e150e47dc |
| webmin-2.670-minimal.tar.gz | 1edf735a48de6157d58beb04b902b7a10b00c658b3b66831d84d1c3355be289f |
| webmin-2.670-1.noarch.rpm | 55637d5ad36b4f8565a00ee74427ddc0fdc11fd3a78a2a4d5fa6e108f5e2096c |
| webmin-2.670-1.src.rpm | 4653d1960a8be0a44f8c16cd1a7bcbd4eee071bbeeb609e1eb8f60e0d91f8bee |
| webmin-2.670.pkg.gz | a8b6bf1b8582de4518394fe15b5eaee4fd748c1fda0a7bf8222a0aa83fcb92dd |
| webmin-2.670.tar.gz | 617af07a890bea18a83dca5c9d7168de1ad4d5f3076d8a1df3475f123748dc21 |
| webmin-2.670.zip | c071822adcdd2c89f78a882a7cceb3f198111ff367b4f4ff0b2b45ec306f0ad7 |
