| File                       | sha256sum                                                        |
| -------------------------- | ---------------------------------------------------------------- |
| webmin-current.rpm         | 5e47d2b27d86bceacfee36ec64d6df8763ab8ff984f8ee92cf9be5434abcba9a |
| webmin-current.deb         | 73f171d74730d10138d7052b9d19e2880f09a5c774266018f84a9459ef846749 |
| webmin-current.pkg         | 47b767b26002f5a9725f6d29d825435f357a4e3d0bff8360d5c8f9c84a81f46c |
| webmin-current.tar         | 5212a5b8fd1ce86ef47038f0ff30131f7d152adecdad51daefb4d10dddd16fdc |
| webmin-current-minimal.tar | 95c3395d86c7e8db488266b8345917f7b5302c815a9deb6215173982daa6f257 |