| File | SHA256 Checksum |
| ---- | --------------- |
| webmin_2.104_all.deb | 80bb272ae7ade169b386c9b34fe0af535ea5e8342d7749917e8cc343f95498cb |
| webmin-2.104-minimal.tar.gz | c17f3bc234402e1ef9c35696659cffe81050bbcf9b03b40e6645a962455cf033 |
| webmin-2.104-1.noarch.rpm | 120488c848114dc34ab9dac6b0d10a86b552dfeac51ebb2264d37a36ec2f09cf |
| webmin-2.104-1.src.rpm | 10850070f616c5152f0ad2ef5b1bca9d457aab662a79b9c86125593e09301cf3 |
| webmin-2.104.pkg.gz | 5bcc06bf8decade98e7c840970a980a3de3c3bf23c3996dc564847102ff3f843 |
| webmin-2.104.tar.gz | 4cb227a72ee72247a511d17ca846c4cad0107dc62d2d237f6783914149fa13c7 |
| webmin-2.104.zip | 46c292a8a63d62aeea5c4df78664408d0c092b22d04fe65998a03fd8f50fafba |
