| File | SHA256 Checksum |
| ---- | --------------- |
| webmin_2.641_all.deb | c390c9a55ee6fb9b1ff2a876275e6012a1b70fd2684b7564a3a8d22feac700ed |
| webmin-2.641-minimal.tar.gz | 1a7244fad02ca16522eb422b3b86b9e3725341788e63f46489fb2087a64ac0de |
| webmin-2.641-1.noarch.rpm | fb2fb4aa4b7239d5cdc06f76575c5fb3819a6fb2a5874115c37f18d049f67217 |
| webmin-2.641-1.src.rpm | 84475ffcbb5ceb407e77f7423d7dacaae2d34ebfc8891dddda592356be10a312 |
| webmin-2.641.pkg.gz | 0ac3b67517c7d0724587c6318d4e79611eba59745e4746db75a6ae74ddc28c2a |
| webmin-2.641.tar.gz | 220015eaff2b666b9bbdf2ce2bc676de72d33e5cc5f35b800b0fa14934bdb95a |
| webmin-2.641.zip | 55d0e6147fa4bad8516f0cd6b8e364083f3e72fd484da00c2f7609a5d5844f0f |
