| File                          | sha256sum                                                        |
| ----------------------------- | ---------------------------------------------------------------- |
| webmin-current.rpm            | c69e1e1bc25716755b9a6831dad196ce32ee99195392fe408952493d9f9a13d9 |
| webmin-current.deb            | dc3f1b2193c5333626d16be10f6ee8c6fee56b1e74e8a3e6ee341ce8e8cd1a60 |
| webmin-current.pkg.gz         | 6c3b17d732d56bebd1266d13c5f22028054e09c50f64dd78c8deb39ead24b5c9 |
| webmin-current.tar.gz         | 30af6f77797b56fdad09a14c81f98b520bc599069c2aa16c1717bbf470964c96 |
| webmin-current-minimal.tar.gz | cf4b211d19cca7b4ffc726f6c2cfe9e98ddd05f396b30873deb903088448e807 |