| File                       | sha256sum                                                                                       |
| -------------------------- | ----------------------------------------------------------------------------------------------- |
| webmin-current.rpm         | 18dcfe39c86e3ba412c17ea2fc48eb27a0690b550ae7db3d16307afbce7b1021 |
| webmin-current.deb         | 5fe23eb76ab0e4d58e71e73cad7990356970dc84205b444bdf6ee70a5168032c |
| webmin-current.pkg         | d96d728295b9e00523e84f914c945fb24d8184d54194fe6db5417efd2274be6e |
| webmin-current.tar         | 69a5cc42a1f529e26330b5b4a37211c968a93e5879767053034ccc3735e47bae |
| webmin-current-minimal.tar | 69a5cc42a1f529e26330b5b4a37211c968a93e5879767053034ccc3735e47bae |
