| File                        | sha256sum                                                        |
| --------------------------- | ---------------------------------------------------------------- |
| usermin-current.rpm         | 005b506e1338a213eb996b2d4780d560a442e0b86658dd82a06a88443fe42d66 |
| usermin-current.deb         | f9759b2c24a3f7a7419b916d41264786cc8e999f37b953f4176d4363d3aa6009 |
| usermin-current.tar         | c4c86420c7aa959f061e8806325cd90a7a9e3eb5a5a04e37612a2fff6d42e023 |
