<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ if (eq site.Params.env "production") }}{{ site.Params.analytics.google.trackingCode.production }}{{ else }}{{ site.Params.analytics.google.trackingCode.devel }}{{ end }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ if (eq site.Params.env "production") }}{{ site.Params.analytics.google.trackingCode.production }}{{ else }}{{ site.Params.analytics.google.trackingCode.devel }}{{ end }}');
</script>

<!-- https://fonts.google.com/share?selection.family=Roboto%20Condensed:wght@400;700%7CRoboto%20Mono:wght@300;600%7CRoboto:ital,wght@0,300;0,500;1,300;1,500 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;600&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet">

<!-- Mark page to be accessible in JavaScript -->
<script type="text/javascript">
    document.querySelector('html').classList.add("page-" + (location.pathname.replace(/\//g, '') || 'index'))
</script>

<!-- Load chocolat.js for Screenshots page -->
{{- if .Param "loadGallery" }}
{{- $chocolatjs := resources.Get "js/chocolat.js" | resources.Minify }}
{{- $chocolatcss := resources.Get "css/chocolat.css" | resources.Minify }}
<script type="text/javascript" src="{{ $chocolatjs.RelPermalink }}"></script>
<link rel="stylesheet" href="{{ $chocolatcss.RelPermalink }}" type="text/css" media="screen">
{{- $chocolatloader := resources.Get "js/extended/header-chocolat.js" | resources.ExecuteAsTemplate "js/extended/header-chocolat.js" . | resources.Minify }}
<script defer crossorigin="anonymous" src="{{ $chocolatloader.RelPermalink }}"></script>
{{ end }}