<script>
(function() {
    const
        menuLinkTargSel = '.header > .nav #menu > li > a',
        postsLinksTargSel = '.main .post-content a',
        wikiLink = document.querySelector('' + menuLinkTargSel + '[href$="Webmin/Main_Page"]'),
        searchLink = document.querySelector('' + menuLinkTargSel + '[href$="/search/"] > span'),
        outerlinksAll = [
            document.querySelectorAll('' + postsLinksTargSel + '[href*="webmin.com/download/"]'),
            document.querySelectorAll('' + postsLinksTargSel + '[href*="download.webmin.com/devel"]'),
            document.querySelectorAll('' + postsLinksTargSel + '[href*="doxfer.webmin.com"]'),
            document.querySelectorAll('' + postsLinksTargSel + '[href*="builds.webmin.dev"]'),
            document.querySelectorAll('' + postsLinksTargSel + '[href*="github.com"]'),
            document.querySelectorAll('' + postsLinksTargSel + '[href*="facebook.com"]'),
            document.querySelectorAll('' + postsLinksTargSel + '[href*="youtube.com"]'),
        ];

    // Wiki to new window
    wikiLink.setAttribute('target', '_blank');

    // Search link as icon
    searchLink.classList.add('wm', 'wm-search');
    searchLink.innerHTML = String();

    // Outer links to new window
    outerlinksAll.forEach(function(outerlinks) {
        outerlinks.forEach(function(outerlink) {
            outerlink.setAttribute('target', '_blank');
        });
    });

    // Navigation buttons tweak
    const isLocation = function(test) {
        return location && typeof location.pathname === 'string' && location.pathname.includes('/' + test + '/');
    }
    if (isLocation('changelog') || isLocation('archives')) {
        document.querySelector('' + menuLinkTargSel + '[href$="changelog/"] > span').classList.add('active');
    }

    // Main page tweaks
    const mainPageSocials = document.querySelector('.main > article > .entry-footer > .social-icons'),
        ghStarsHTML = '<iframe src="https://ghbtns.com/github-btn.html?user=webmin&repo=webmin&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>',
        ghWatchHTML = '<iframe src="https://ghbtns.com/github-btn.html?user=webmin&repo=webmin&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>',
        ghForkHTML = '<iframe src="https://ghbtns.com/github-btn.html?user=webmin&repo=webmin&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>';
    if (mainPageSocials) {
        mainPageSocials.innerHTML = ghStarsHTML + ghWatchHTML + ghForkHTML;
    }
})();
</script>
<footer class="footer">
    <div>
        <a href="{{ "" | absLangURL }}about">About</a>&nbsp;&nbsp;|<wbr>&nbsp;&nbsp;
        <a href="{{ "" | absLangURL }}security">Security</a>&nbsp;&nbsp;
    </div>
    <span>&copy; 1997 - {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a>&nbsp;&nbsp;|<wbr>&nbsp;&nbsp;Made with&nbsp;&nbsp;<i class="wm wm-heart"></i>&nbsp;&nbsp;by <a href="https://github.com/iliajie" target="_blank">@iliajie</a>&nbsp;&nbsp;|<wbr>&nbsp;&nbsp;Powered by Hugo & Papermod</span>
</footer>