<div class="hmenu-panel" data-click-outside="true" data-reference="hmenu-panel-opener">
  <div class="hmenu-drop-down">
      <div class="hmenu-body">
          <div class="hmenu-body-contents">
              <div class="hmenu-container">
                  <ul class="hmenu-links">
                      <li><a href="/about/"><span>About</span></a></li>
                      <li><a href="/screenshots/"><span>Screenshots</span></a></li>
                      <li><a href="/community/"><span>Community</span></a></li>
                      <li><a href="/faq/"><span>FAQ</span></a></li>
                      <li><a href="/supporters/"><span>Supporters</span></a></li>
                      <li><a href="/books/"><span>Books</span></a></li>
                  </ul>
                  <div class="clearfix"></div>
                  <hr>
              </div>
              <ul class="hmenu-categories">
                  <li class="hmenu-category">
                    <span>
                      <a href="/usermin/">
                        <i class="wm wm-fw wm-md wm-webmin icon-usermin"></i>&nbsp;Usermin
                      </a>
                    </span>
                  </li>
                  <li class="hmenu-category">
                    <span>
                      <a href="/virtualmin/">
                        <i class="wm wm-fw wm-md wm-virtualmin icon-virtualmin"></i>&nbsp;Virtualmin
                      </a>
                    </span>
                  </li>
                  <li class="hmenu-category">
                    <span>
                      <a href="/cloudmin/">
                        <i class="wm wm-fw wm-md wm-cloudmin icon-cloudmin"></i>&nbsp;Cloudmin
                      </a>
                    </span>
                  </li>
              </ul>
              <hr>
              <div class="hmenu-container">
                  <ul class="hmenu-links">
                      <li>
                        <a href="/download/#standard-modules"><span>Standard Modules</span></a>
                      </li>
                      <li>
                        <a href="/about/#supported-systems"><span>Supported Systems</span></a>
                      </li>
                      <li>
                        <a href="/about/#supported-languages"><span>Supported Languages</span></a>
                      </li>
                  </ul>
                  <div class="clearfix"></div>
              </div>
          </div>
      </div>
  </div>
</div>
