| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.002_all.deb | d6a32d896ad8d5a8f1dd8ddac7ad614d6283245b063a3686dbc81afa50adc066 |
| usermin-2.002-1.noarch.rpm | 42a321b7d898b6678acd9cf66c6e3dc212ce25fdcc49d73f3dec2f159142f42f |
| usermin-2.002-1.src.rpm | 823d6f31ee62758eb170415d84859825dc00839a2c9d635a0963a6febaefc1c7 |
| usermin-2.002.tar.gz | 2ecdb1a6d9ecc117d0bdf46fc58c5ae326ddbc8bb429fb5c879de3581f3f28ea |
