| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.010_all.deb | d93bcd6baa7124787cc179f906860e47f89743a207c8b4deeec3bd5625234510 |
| usermin-2.010-1.noarch.rpm | e51081251f6d86a87a849d7255da5bfa338490451a565ef0b87bc1a158711d2f |
| usermin-2.010-1.src.rpm | 319fd13c682b5a0dd9b0cd6bc61f9e1e06ab56e0268e63461c928056116290c5 |
| usermin-2.010.tar.gz | aaa796708905f01f27f94eb0feed00c0db4205dcce0eaf127c73965ed41a34c2 |
