| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.301_all.deb | 4dbe108e4d46972217ee71e4991ea11e4f25abd8d83068fbca10a6578579fead |
| usermin-2.301-1.noarch.rpm | f2d63d6868ad729d7ff41a909ef577f13f735b187044d35c7b3dcc9859b08ef7 |
| usermin-2.301-1.src.rpm | 1e59891e2a241c21fc17f76ae886432bc3f6f8814ba53b036989748b30bc833c |
| usermin-2.301.tar.gz | 524ac4864afd50c7b71deb047f19dcaed97765da2fc067b8825a50dbd5e6f556 |
