| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.300_all.deb | 09d346ef6cd57943e2c356616ab1a04b339e6f5391dea2ae9dd72e4be3d1eed2 |
| usermin-2.300-1.noarch.rpm | 562c597af81351ba6d1ca8ef31bd52c6b905b015904b16bbc541a857f8b8e41d |
| usermin-2.300-1.src.rpm | 52aefeecd2531f3cd6b60aec208aea6503bb270f1bcbfb8849d19d1d2ccbc0eb |
| usermin-2.300.tar.gz | 77f31db8a23d801131c996a7dbb5dbbca11c448c88a5346ce869f31731ac9916 |
