| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.520_all.deb | 751e0722285641a4e402d59af88ba5e625d4f2aebf95d22e3264371afc2e89b5 |
| usermin-2.520-1.noarch.rpm | 9bda9311cfe3f1e09ddef3dcc27dca85ec12fd581c069ac32333e7f5f36ec6c1 |
| usermin-2.520-1.src.rpm | 0a698445c84ec851dfaa00667c7410b045144ac29d4f8924cf96a44dd6afd044 |
| usermin-2.520.tar.gz | e1ef36096da0ad4306d38187110869c9db0908609f247aca1cc66a304a69a49e |
