| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.551_all.deb | 7bc3aed14f94d47c2693cefb01dce9e5e3863122f8b9c672515f0d43fcea47fa |
| usermin-2.551-1.noarch.rpm | f9102a76efa94ea6ee7a23b39efeea72e70aa53bf1419397123171af34942f52 |
| usermin-2.551-1.src.rpm | e66c4f3862984b1f678040d66f2252a8b5cc72bf835d1e847aa63e407ada961b |
| usermin-2.551.tar.gz | a7a44813981df7e3a79b9f601ccca4b890e92f5b64cd5c21564450408bb4a5d8 |
