| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.500_all.deb | b65d12c0ab57f4d11337403829b65a233cf4183b4c6b104c7d2b6bf786fa81d6 |
| usermin-2.500-1.noarch.rpm | f50f39594e965154408ad0fc86b9963dc67a85f9bf7f507b8b538c8bee9c6fa1 |
| usermin-2.500-1.src.rpm | 396380f392a7f1643ce6466fe7970f796e08ea1d1f0cbaba43b7270d35cd27d7 |
| usermin-2.500.tar.gz | 05be5a843be478ac86c15c026384a1dd7ffc5fb1261e382f5bdc2e23a6a7f883 |
