| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.004_all.deb | 589889494ee0062ab1b973213c2c62ef37655b8b1b9e06eca6269e43145182a3 |
| usermin-2.004-1.noarch.rpm | 72fa0e5aa887cfc1429b6477c5e3415e54269edab1131bd0e9b595564a2c50c7 |
| usermin-2.004-1.src.rpm | a0a22afb1392ace3ce7afd464d43479cfe0177b0aad6302ed8f2ede4a5eb5d1f |
| usermin-2.004.tar.gz | d4deeb49d28784f5dede7d6ad5b496b58e3ccfc0f9c7648c53079d5ecdd27578 |
