| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.203_all.deb | 73552249ba40c5b27ce23e98c3fa78a7d5e91048b6cb88be6bacc7c58bb4659c |
| usermin-2.203-1.noarch.rpm | 722fb802c93add15ce6c8d24a0b54237a99978a5af81544a1c397b8352b8712b |
| usermin-2.203-1.src.rpm | bae3ca07c16e0b4b64261e921a55c81a45747f1ab45f1333accaf5401d8e31cd |
| usermin-2.203.tar.gz | 5d76078c28eb1e70102156bcbbbb334114670db000c0d47e5d06f4f13b08f112 |
