| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.570_all.deb | e7349c7c9cf1465d30ee9aad8e5fbf8bb518b5eeed29211479d3b6e0073b6139 |
| usermin-2.570-1.noarch.rpm | f999a30b084acb0b77e4e6325936a65bad1ae7e9ba1215c40e45ab0986be91ed |
| usermin-2.570-1.src.rpm | c7e52dccdba0a35fb5e2cc2bc3c0f54db594f249eaab0fa808f1e36337e02b37 |
| usermin-2.570.tar.gz | b87f658150821565aa5ee775878766318d752c232a4e46a63773e24c139f5fda |
