| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.100_all.deb | 850bc7ab2633ee9ed4ecfaf7b83ec98454a4c55cba9f84478b5f0fcff41fac74 |
| usermin-2.100-1.noarch.rpm | 0ea3df03eacfb800a7508b37564c08b66f789f7cbf17dba7c12068c5308b6ea0 |
| usermin-2.100-1.src.rpm | 6df5e972c4338142eab200434bfccc3f474b2c7f7428412641ae1b5d6f4da73b |
| usermin-2.100.tar.gz | 5a2abf6b043b03b0ae164f4693bbf46de4cfd17e992e0cffef753b8256efe010 |
