| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.400_all.deb | 6da06ffa602c8807669824b2e73d316dcec8bd76dc613a92650a19511958c962 |
| usermin-2.400-1.noarch.rpm | 627774fff977d570aaa59b4f71f8997e2cb7bb6002d927e236758c0e336b888c |
| usermin-2.400-1.src.rpm | 321f69cce7f375a1087e6c8cd463b50d2ef01a0c48d7dc29f18c3ddec3ba246c |
| usermin-2.400.tar.gz | 38d31498ceef372f21aa987cde2b5fb07a4e9eb027d4eb805c486b8f79b7696a |
