| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.420_all.deb | 36220458f27d1cae2e670097ab2f795ff6618d69c9af4a66e7428b5b052f0373 |
| usermin-2.420-1.noarch.rpm | 43f122cbf783cdb1f8b806376fc4ad5ee5555163467def4a17b53c851acc94e1 |
| usermin-2.420-1.src.rpm | 1947839d94f21fa36d06e8ba86a2af8f7d093663eb14ab34754e208b7fbe571a |
| usermin-2.420.tar.gz | 3c7b11dfec17cfa9c3cf3cb555fe16128e38e8080ad61511cdd8733e30a640d6 |
