| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.003_all.deb | e366c686974be159065003bb399e3f90b3aaad08ae90ef7458ed560597c310e6 |
| usermin-2.003-1.noarch.rpm | bf514fa0bd48864e67f04722cf0a97525323d0a1523d8d737c5ff83401dd6705 |
| usermin-2.003-1.src.rpm | 0bf085a4aeba94fbeec7ef62067f9d93167f7adf5b376f2a6c1bc6249668bc6f |
| usermin-2.003.tar.gz | 3a67f5d560d79b034c8a251db4008233e654595add2e724a1d5835e10c13c17f |
