| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.005_all.deb | 0afd25994ef94ce12ecf07937b587cff167fe8313c66b2b14ab1c32c2e8d7d2c |
| usermin-2.005-1.noarch.rpm | 086bf53fd0f38c083bfd105aedb8ea3206f68d8926cd2a673a6b1e916add2cec |
| usermin-2.005-1.src.rpm | a386d303076bbd14842cd45b8a191f3cba1c4eeb3f5167440d818cd4e45a05ac |
| usermin-2.005.tar.gz | cf2090967e3d678712a8d9ee0f5a816b614b3df6ff7b706adb4991738af83db4 |
