| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.102_all.deb | 327fa7e1b42405beb2037349268f65926157163809b33ce580d50ddb20e7ae4b |
| usermin-2.102-1.noarch.rpm | 225c32f80221e9134aae0fb37a977131fd4e89ed5df0e5b71e90c6dfd8840cac |
| usermin-2.102-1.src.rpm | 7a3d82231b76d401a470205aa6fc66a021762ec784f1e2cdcd79c2e52c1bcc71 |
| usermin-2.102.tar.gz | e1b3188cb9d2bab39b0e4517767e6e49946fd5d81e35c8e4f8ebbd4b1da41842 |
