| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.560_all.deb | b1be319917fd3371f0561c9d5db41e91ce1f6537cdc92b00e3aa5e99ec150dd5 |
| usermin-2.560-1.noarch.rpm | 9596933d32f8a13b564daee0aa2ff3888d80a31c597d861656b2c831d2a279e2 |
| usermin-2.560-1.src.rpm | c3ac359944a2dbc5e18212f156d9399bab5bbcc9837e2ce8829c975543074d01 |
| usermin-2.560.tar.gz | d37b9f3cb8f23cf3d9c41970946557afcc4832e23fbd202816ecc78efdcaaa78 |
