| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.202_all.deb | b50aadaa8e53a339cd76cea17b342d16baac7bcde942dad82f679169d91a0554 |
| usermin-2.202-1.noarch.rpm | 7c1cd302265f64a242af11ef923650696e3ada12edafddbc737792b1f3384644 |
| usermin-2.202-1.src.rpm | 1ab7712d9cbf1c239df9c34cf152ea373bcaa8772e3b943d137b4ec2adb171eb |
| usermin-2.202.tar.gz | 4c906daf1ae4f34a5dba1e671efb01f9d26aec540f262af29d4c3cefc70faff4 |
