| File                        | sha256sum                                                        |
| --------------------------- | ---------------------------------------------------------------- |
| usermin-current.rpm         | 23356654b4a7bc616051d411f7c4b9a84768108ac513dd1af175deb1f766b6c1 |
| usermin-current.deb         | 5d932491cee36520dc64b958aff1b1866ee8c96854eebaf0b4cc0172ae1b84c4 |
| usermin-current.tar.gz      | c6d7dbd85c2a8ee680a3dfb2b00e788c1cfbe254658a3a7f94cf70cf32fed90b |