| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.201_all.deb | 5ab718358ed7ca156cf7225ec9b9ee57c60539953cb3dd47620fe2e955c05b56 |
| usermin-2.201-1.noarch.rpm | 185a023f198f89557a7262df7e20ee3202d0a3294eba2fe6bd0c3ba66f379940 |
| usermin-2.201-1.src.rpm | a82972467191b3ee2b55e361ecf4a7e814e65017e68903c06fb2f38e8613af13 |
| usermin-2.201.tar.gz | eadea9a7dee1951d02dbad6bafb913c97983933b5b3831e44b9c690474224211 |
