| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.552_all.deb | f012b92e8057863dcd64ffec415c282f974be748721d4e207770b156302cf834 |
| usermin-2.552-1.noarch.rpm | 524a66cfb09e68f7c9000fbd8f5e749051cd5cf3aa78260722928567682e9292 |
| usermin-2.552-1.src.rpm | ecaf45ece00bd3a33d20e66e67a5a51c0200c73297c0ca7925a5e8ae10f68b04 |
| usermin-2.552.tar.gz | e756930b25eb4e4fdc9bcbd12c7da45f1a09d72294bf88cd5d4591dfbe49beda |
