| File | sha256sum |
| ---- | --------- |
| usermin_2.000_all.deb | 5bb70920931e810abf35cf143eed774e |
| usermin-2.000-1.noarch.rpm | 7286bd918523d38da0fcedd63b3d6079 |
| usermin-2.000-1.src.rpm | f37c98f222b3240e93cc330aa2fbda53 |
| usermin-2.000.tar.gz | cb752367a3edd6262708f22174d0ba7a |
