| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.530_all.deb | ddfcc5e920496781340cecbfb2ddfef72d85456db13affa5ae98501987fdd47c |
| usermin-2.530-1.noarch.rpm | 11aea599fd1356be30adcf787c934df165fe5a4c3ae3ed5ae729142b010578a5 |
| usermin-2.530-1.src.rpm | b18e64ed3248f10328705d2ed1d1bd134e4d1e60438edd12cd00d8b2e8ee968c |
| usermin-2.530.tar.gz | efa835e865961d2affd09b8d1a3423a4188e872d8ecad015069054ef4122d570 |
