| File | SHA256 Checksum |
| ---- | ------------ |
| usermin_2.540_all.deb | 9c9e723e601ea1ff566a066be3d110d9c0974342f4c52cd85e2468b87f89b9c6 |
| usermin-2.540-1.noarch.rpm | 43b733010a4d1af6d7d512f04862e8d729025997bc0dc6f680319cf17a7655be |
| usermin-2.540-1.src.rpm | e2dcbd33ab994274cdea5f5f70f9e66ef922f688ce6b6c5e15988c2fb21cc951 |
| usermin-2.540.tar.gz | ad96c49a894798e1041c741a3b312422ad769fa7619952dbbc41c0164a51656c |
