# Changelog should be displayed as archives
RewriteRule ^changelog/$ archives/ [L]

# About and intro
RewriteRule ^intro.html$ about/ [R,301]
RewriteRule ^about.html$ about-jamie/ [R,301]

# Devel
RewriteRule ^devel.html$ download/#development-builds [R,301]

# Supported OS
RewriteRule ^support.md$ about/#supported-os [R,301]
