# Changelog should be displayed as archives
RewriteRule ^changes.html$ https://%{HTTP_HOST}/changelog/ [R=301]
RewriteRule ^uchanges.html$ https://%{HTTP_HOST}/tags/usermin-changelog/ [R=301]
RewriteRule ^vchanges.html$ https://%{HTTP_HOST}/tags/virtualmin-changelog/ [R=301]
RewriteRule ^changelog/$ archives/ [L]

# About and intro
RewriteRule ^intro.html$ https://%{HTTP_HOST}/about/ [R=301]
RewriteRule ^developers.html$ https://%{HTTP_HOST}/about/#developers [R=301,NE]
RewriteRule ^about.html$ https://%{HTTP_HOST}/about-jamie/ [R=301]

# Devel
RewriteRule ^devel.html$ https://%{HTTP_HOST}/download/#development-builds [R=301,NE]

# Supported Systems
RewriteRule ^support.html$ https://%{HTTP_HOST}/about/#supported-systems [R=301,NE]

# Supported Languages
RewriteRule ^lang.html$ https://%{HTTP_HOST}/about/#supported-languages [R=301,NE]
RewriteRule ^ulang.html$ https://%{HTTP_HOST}/about/#supported-languages [R=301,NE]

# Screenshots redirecs
RewriteRule ^demo.html$ https://%{HTTP_HOST}/screenshots/ [R=301]
RewriteRule ^screens/(.*)$ https://%{HTTP_HOST}/screenshots/ [R=301]

# Standard Modules
RewriteRule ^standard.html$ https://%{HTTP_HOST}/download/#standard-modules [R=301,NE]

# Downloads
RewriteRule ^rpm.html$ https://%{HTTP_HOST}/download/#installing [R=301,NE]
RewriteRule ^deb.html$ https://%{HTTP_HOST}/download/#installing [R=301,NE]
RewriteRule ^tgz.html$ https://%{HTTP_HOST}/download/#freebsd-and-any-other-linux-installation-from-source [R=301,NE]
RewriteRule ^osx.html$ https://%{HTTP_HOST}/download/#freebsd-and-any-other-linux-installation-from-source [R=301,NE]
RewriteRule ^solaris.html$ https://%{HTTP_HOST}/download/#solaris [R=301,NE]
RewriteRule ^windows.html$ https://%{HTTP_HOST}/ [R=301]
RewriteRule ^hpux.html$ https://%{HTTP_HOST}/ [R=301]

# Security
RewriteRule ^security.html$ https://%{HTTP_HOST}/security/ [R=301]
# What happened
RewriteRule ^exploit.html$ https://%{HTTP_HOST}/security/#remote-command-execution-cve-2019-15231 [R=301,NE]

# Contributed Documentation
RewriteRule ^contrib.html$ https://%{HTTP_HOST}/books/#download [R=301,NE]

# Community
RewriteRule ^community.html$ https://%{HTTP_HOST}/community/ [R=301]
RewriteRule ^bugs.html$ https://%{HTTP_HOST}/community/ [R=301]
RewriteRule ^ubugs.html$ https://%{HTTP_HOST}/community/ [R=301]
RewriteRule ^mailing.html$ https://%{HTTP_HOST}/community/ [R=301]
RewriteRule ^mailing-announce.html$ https://%{HTTP_HOST}/community/ [R=301]
RewriteRule ^mailing-devel.html$ https://%{HTTP_HOST}/community/ [R=301]
RewriteRule ^modules-index.html$ https://%{HTTP_HOST}/community/#for-developers [R=301,NE]
RewriteRule ^third.html$ https://%{HTTP_HOST}/community/#for-developers [R=301,NE]
RewriteRule ^git.html$ https://%{HTTP_HOST}/community/#for-developers [R=301,NE]
RewriteRule ^modules-newlang.html$ https://%{HTTP_HOST}/about/#supported-languages [R=301,NE]

# FAQ
RewriteRule ^faq.html$ https://%{HTTP_HOST}/faq/ [R=301]
RewriteRule ^apache.html$ https://%{HTTP_HOST}/faq/#can-i-run-webmin-or-usermin-under-apache [R=301,NE]
RewriteRule ^uapache.html$ https://%{HTTP_HOST}/faq/#can-i-run-webmin-or-usermin-under-apache [R=301,NE]
RewriteRule ^updates.html$ https://%{HTTP_HOST}/download/ [R=301]

# Partners
RewriteRule ^partners.html$ https://%{HTTP_HOST}/supporters/ [R=301]

# Translations
RewriteRule ^trans.html$ https://%{HTTP_HOST}/community/#for-translators [R=301,NE]

# Usermin
RewriteRule ^udownload.html$ https://%{HTTP_HOST}/usermin/#downloading [R=301,NE]
RewriteRule ^uwebmail.html$ https://%{HTTP_HOST}/usermin/#downloading [R=301,NE]
RewriteRule ^uupdates.html$ https://%{HTTP_HOST}/usermin/#downloading [R=301,NE]
RewriteRule ^uwebmail.html$ https://%{HTTP_HOST}/usermin/#downloading [R=301,NE]
RewriteRule ^ustandard.html$ https://%{HTTP_HOST}/usermin/#standard-modules [R=301,NE]
RewriteRule ^ubugs.html$ https://%{HTTP_HOST}/community/ [R=301]
RewriteRule ^urpm.html$ https://%{HTTP_HOST}/usermin/#downloading [R=301,NE]
RewriteRule ^udeb.html$ https://%{HTTP_HOST}/usermin/#downloading [R=301,NE]
RewriteRule ^utgz.html$ https://%{HTTP_HOST}/usermin/#freebsd-and-any-other-linux-installation-from-source [R=301,NE]

# Virtualmin
RewriteRule ^vinstall.html$ https://%{HTTP_HOST}/virtualmin/#automated-installation [R=301,NE]
RewriteRule ^vdownload.html$ https://%{HTTP_HOST}/virtualmin/#manual-installation [R=301,NE]
RewriteRule ^plugins.html$ https://%{HTTP_HOST}/virtualmin/#plugins [R=301,NE]
RewriteRule ^mobile.html$ https://%{HTTP_HOST}/virtualmin/ [R=301]

# Cloudmin
RewriteRule ^cinstall-xen.html$ https://%{HTTP_HOST}/cloudmin/#installation [R=301,NE]
RewriteRule ^cinstall-kvm.html$ https://%{HTTP_HOST}/cloudmin/#installation [R=301,NE]

# Mirror
RewriteRule ^mirrors.html$ https://%{HTTP_HOST}/mirrors/ [R=301]

# Always redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
